/* ✅ Bouton "Oui" */
.btn-success {
    background-color: #00C853;
    color: white;
    font-size: 18px;
    padding: 14px;
    width: 100px;
    border-radius: 8px;
}

.btn-success:hover {
    background-color: #009624;
}

/* ❌ Bouton "Non" */
.btn-danger {
    background-color: #D90429;
    color: white;
    font-size: 18px;
    padding: 14px;
    width: 100px;
    border-radius: 8px;
}

.btn-danger:hover {
    background-color: #B10221;
}
